html{
    background-color: #ADD8E6;
}
*{
    font-family: 'Georama', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:#000;
}

.nav{
    display:flex;
    justify-content: flex-end;
    line-height:86px;
    width: calc(1280px - 300px);
    font-weight: bold;
}

.nav > li{
    margin-left: auto;
}

.nav > li{
    margin-left: auto;
}

.home:hover{
    font-size: xx-large;
}

.articles:hover{
    font-size: xx-large;
    margin-left:auto;
}

.about_us:hover{
    font-size: xx-large;
    margin-left: auto;
}

.contact_dr:hover{
    font-size: xx-large;
    margin-left:auto;
}

.sign_up:hover{
    font-size: xx-large;
    margin-left: auto;
}

p {
    font-size: 20px;
    font-family:'Georama', sans-serif;
}

.span {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
    font-family:'Georama', sans-serif;
    border: 2px solid white;
    background-color: #ADD8E6;
    padding-left: 20px;
    padding-right: 20px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.center2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
}
