html{
    background-color: #ADD8E6;
}
*{
    font-family: 'Georama', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:#000;
}

.nav{
    display:flex;
    justify-content: flex-end;
    line-height:86px;
    width: calc(1280px - 300px);
    font-weight: bold;
}

.nav > li{
    margin-left: 84px;
}

.home:hover{
    font-size: xx-large;
}

.about_us:hover{
    font-size: xx-large;
    margin-left: -59.5px;
}

.contact_dr:hover{
    font-size: xx-large;
    margin-left: -73px;
}

.sign_up:hover{
    font-size: xx-large;
    margin-left: -49px;
}


.myButton{
    border:  2px solid black;
}

#myButton{
    border: 3px solid #333;
    background-color: #999;
    border-radius: 5px;
    padding: 10px 2em;
    font-weight: bold;
    color: #fff;
}
#myButton:hover {
    background-color: #333;
  }

