#myButton{
    border: 3px solid #333;
    background-color: #999;
    border-radius: 5px;
    padding: 10px 2em;
    font-weight: bold;
    color: #fff;
}
#myButton:hover {
    background-color: #333;
  }